:root{
--menu-brand-color--: #2E2F42;
--titel-brand-color--: #434455;
--primary-brand-color--: #4D5AE5;
--aktiv-heder--: #404BBF;
--btn-brand-color--:#ffffff;
--background-color--:#F4F4FD;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    background-color:#FFFFFF;
    color:var(--menu-brand-color--);
}
.list{
list-style: none;
margin: 0;
padding: 0;
}
.link{text-decoration: none;}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
}
header{
    border-bottom: 1px solid #E7E9FC;
}
.section {
    padding: 120px 0;
}
/* heder */
.web {
    font-family: 'Raleway'; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;;
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--menu-brand-color--);
    margin-right: 74px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 72px;
}
.heder-container{
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
}
.heder-item{
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1,5;
letter-spacing: 0.02em;
flex: none;
order: 0;
flex-grow: 0;
color: var(--menu-brand-color--);
margin: 0;
border: 0;
}
.heder-item:hover, .heder-item:focus {
color: #404BBF;
}
.heder-flex{
    padding-top: 24px;
    padding-bottom: 24px;
    height: 72px;
}
.heder-list{
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 40px;
align-items: center;
}
.contakt {
    margin-left: auto;
}
.contakt-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.contakt-item{
border: 0px;
font-family: inherit;
font-size: 16px;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--menu-brand-color--);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 0;
}

.contakt-item:hover, .contakt-item:focus{
    color: #404BBF;
}
/*section 1*/
.hero {
    background-color:#2E2F42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero_people-office.jpg);
        max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
.hero-container {
    margin-left: auto;
    margin-right: auto;
}
.hero-titel {
font-weight: 700;
font-size: 56px;
line-height: 60px;
color: var(--btn-brand-color--);
text-align: center;
margin-left: auto;
margin-right: auto;
max-width: 500px;
margin-bottom: 48px;
margin-top: 0;
}
.hero-btn {
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--btn-brand-color--);
padding: 16px 32px;
align-items: center;
border: 0;
display: flex;
margin-left: auto;
margin-right: auto;
}
.hero-btn:hover, .hero-btn:focus {
    background: #404BBF;
}
.btn {
    cursor: pointer;
}
/*section 2*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0000);
    clip-path: inset(50%);
    margin: -1px;
}
.section-conteiner{
    display: flex;
    justify-content: center;
}
.about-list {
    display: flex;  
    justify-content: center;
    gap: 24px;
    margin: 0;
    padding: 0;
}
.about-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 8px;
}
.about-text {
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--titel-brand-color--);
    margin: 0;
    padding: 0;
    border: 0;
}
.about-item:before{
    display: block;
    content:'';
    height: 112px;
    background-size: 64px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--background-color--);
    margin-bottom: 8px;
}
.icon-antena:before{
    background-image: url(../images/antenna.svg);
}
.icon-clok::before{
 background-image: url(../images/clock.svg);
}
.icon-diagram:before{
background-image: url(../images/diagram.svg);
}
.icon-astronaut:before{
background-image: url(../images/astronaut.svg);
}
/*section 3*/
.section-services{
    padding-top: 0px;
}
.services {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
margin-top: 0;
}
.services-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
/*section 4*/
.our_team {
    background: #F4F4FD;
}
.team{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
margin-top: 0;
}
.team-titel{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
padding-top: 32px;
margin: 0;
}
.team-text{
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color:var(--titel-brand-color--);
padding-bottom: 0px;
margin-top: 8px;
margin-bottom: 0;
}
.team-item{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.team-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-social-item{
display: flex;
justify-content: center;
gap: 24px;
margin-top: 8px;
margin-left: auto;
margin-right: auto;
margin-bottom: 32px;
padding: 0;
}
.team-social-list{
width: 40px;
height: 40px;
}
.team-social-link{
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
background-color: var(--primary-brand-color--);
width: 100%;
height: 100%;
}
.team-social-icons{
    fill: var(--btn-brand-color--);
}
.team-social-link:is(:hover,:focus){
background-color: var(--aktiv-heder--);
}
/*section 5*/
.customers{

}
.customers-titel{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 72px;
    color: var(--menu-brand-color--);
}
.customers-item{
    display: flex;
gap: 24px;
flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}
.customers-list{
    width: 168px;
    height: 88px;
}
.customers-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border: 1px solid #8E8F99;
border-radius: 4px;
}
.customers-icons{
    position: absolute;
    fill:  #8E8F99 ;
    width: 104px;
    height: 56px;
}
.customers-link:is(:hover, :focus){
    border-color: var(--aktiv-heder--);
}
.customers-link:is(:hover, :focus) .customers-icons{
    fill: var(--aktiv-heder--);
}
/*footer*/
.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
text-align: left;
width: 264px;
height: 72px;
padding: 0;
border: 0;
margin-left: 0;
margin-bottom: 0;
}
.footer-social-item{
    display: flex;
    justify-content: center;
    gap: 16px;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
padding: 0;
}
.footer-social-list{
    width: 40px;
    height: 40px; 
}
.footer-social-link{
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
border-radius: 50%;
background: rgba(255, 255, 255, 0.1);
width: 100%;
height: 100%;
}
.footer-social-link:is(:hover, :focus){
    background-color: #31D0AA;
}
.footer-social-icons{
    fill: var(--btn-brand-color--);
}
.footer-container{
    height: 110px;
}
.footer-social-conteiner{
    height: 80px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
.container-footer{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 120px;
    margin-left: 156px;
}
.footer-social-titel{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--btn-brand-color--);
margin: 0%;
padding: 0;
border: 0;
margin-bottom: 16px;
}
/*second page*/
.section-menu{
    padding-top: 96px;
}
.btn-item {
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
box-sizing: border-box;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color:#4D5AE5;
padding: 12px 24px;
}
.btn-item:hover, .btn-item:focus {
color: var(--btn-brand-color--);
background-color: #4D5AE5;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-color: var(--primary-brand-color--)
}
.btn-list {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-bottom: 72px;
}
.titel{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin:0;
margin-bottom: 8px;
}
.text {
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--titel-brand-color--);
margin: 0%;
}
.item-box {
    border: 1px solid #E7E9FC;
    border-top: none;
padding: 32px 16px;
}
.item{
    margin-bottom: 48px;
}
.item:nth-child(n+7) {
    margin-bottom: 0px;
}
.item:is(:hover,:focus){
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    flex-basis: calc((100%-2*24px)/3);
}
.logo-footer{
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#F4F4FD;
margin-bottom: 16px;
}